{
  "openapi": "3.0.0",
  "info": {
    "title": "LumeGates API",
    "version": "1.0.0",
    "description": "Enterprise-grade AI model distribution platform. Fully compatible with OpenAI SDKs."
  },
  "servers": [
    {
      "url": "https://api.lumegates.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "operationId": "createChatCompletion",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": { "type": "string", "example": "gpt-4o" },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": { "type": "string", "example": "user" },
                        "content": { "type": "string", "example": "Hello LumeGates!" }
                      }
                    }
                  },
                  "stream": { "type": "boolean", "default": false }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "chatcmpl-123" },
                    "object": { "type": "string", "example": "chat.completion" },
                    "created": { "type": "integer", "example": 1677652288 },
                    "model": { "type": "string", "example": "gpt-4o" },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": { "type": "integer", "example": 0 },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": { "type": "string", "example": "assistant" },
                              "content": { "type": "string", "example": "Hello! How can I help you today?" }
                            }
                          },
                          "finish_reason": { "type": "string", "example": "stop" }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": { "type": "integer", "example": 9 },
                        "completion_tokens": { "type": "integer", "example": 12 },
                        "total_tokens": { "type": "integer", "example": 21 }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
