{
  "openapi": "3.0.0",
  "info": {
    "title": "LumeGates API",
    "version": "1.0.0",
    "description": "Enterprise-grade AI model distribution platform. Fully compatible with OpenAI SDKs."
  },
  "servers": [
    {
      "url": "https://api.lumegates.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "description": "Create responses for any supported model using a unified format.",
        "operationId": "createChatCompletion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "ID of the model to use (e.g., gpt-4o, claude-3-5-sonnet)",
                    "example": "gpt-4o"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant"],
                          "example": "user"
                        },
                        "content": {
                          "type": "string",
                          "example": "Hello LumeGates!"
                        }
                      }
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to stream the response."
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1,
                    "example": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "choices": { "type": "array", "items": { "type": "object" } },
                    "usage": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Check your API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
